#users {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover {background-color: #ddd;}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#removeButton {
    display: block;
    margin: auto;
}

#errorContainer {
    height: 300px;
    font-size: 30px;
    text-align: center;
    display: table;
    align-items: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#registrationContainer {
    width: 50%;
    font-size: 30px;
    text-align: center;
    display: table;
    align-items: center;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.homeButtonContainer {
    width: 50%;
    height: 100px;
    font-size: 30px;
    text-align: center;
    display: table;
    align-items: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#loginContainer {
    width: 50%;
    height: 300px;
    font-size: 30px;
    text-align: center;
    display: table;
    align-items: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#loginButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#loginButton:hover {
    opacity: 0.8;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#menuContainer {
    font-size: 30px;
    text-align: center;
    display: table;
    align-items: center;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#menuBox {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: auto;
}

#menuRow a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#menuRow a.active {
    background-color: #4CAF50;
    color: white;
}

#menuRow a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#homeNavigation {
    text-decoration:none;
}
